---
---

@import 'sticky_footer'
@import 'responsive'

.section
  min-height: 50vh
  position: relative
   
.card--profile
  position: absolute
  transform: translateY(50%)

.container
  margin: 0 auto
  width: 80%
  +respond-to(handhelds)
    width: 100%   
    
.mdl-card
  width: initial