---
---

@import 'sticky_footer'
@import 'responsive'
@import 'colors'

.section
  min-height: 50vh
  position: relative
  
.section--dark
  color: $color-white
  background: $color-black

.container
  margin: 0 auto
  width: 100%
  +respond-to(desktop)
    width: 80%   

.container--float
  +respond-to(desktop)
    left: 50%
    position: absolute
    transform: translateX(-50%) translateY(-300px)
  
.mdl-card
  width: initial
  
.mdl-layout__header--transparent
  background: $color-black