---
---

@import 'sticky_footer'
@import 'responsive'

.section
  min-height: 50vh
  position: relative
   


.container
  margin: 0 auto
  width: 80%
  +respond-to(handhelds)
    width: 100%   
    
.container--detached  
  left: 50%
  transform: translateX(-50%) translateY(-50%)
    
.mdl-card
  width: initial