<div class="mdl-card mdl-shadow--4dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Welcome</h2>
  </div>
  <div class="mdl-card__media">
    <img src="assets/img/dog.jpg">
  </div>
  <div class="mdl-card__supporting-text">
    Auckland Sky Tower, taken March 24th, 2014
  </div>
  <div class="mdl-card__supporting-text">
  The Sky Tower is an observation and telecommunications tower located in Auckland,
  New Zealand. It is 328 metres (1,076 ft) tall, making it the tallest man-made structure
  in the Southern Hemisphere.
  </div>
  <ul class="demo-list-three mdl-list">
    <li class="mdl-list__item mdl-list__item--three-line">
      <span class="mdl-list__item-primary-content">
        <i class="material-icons mdl-list__item-avatar">person</i>
        <span>Bryan Cranston</span>
        <span class="mdl-list__item-text-body">
          Bryan Cranston played the role of Walter in Breaking Bad. He is also known
          for playing Hal in Malcom in the Middle.
        </span>
      </span>
      <span class="mdl-list__item-secondary-content"></span>
    </li>
    <li class="mdl-list__item mdl-list__item--three-line">
      <span class="mdl-list__item-primary-content">
        <i class="material-icons  mdl-list__item-avatar">person</i>
        <span>Aaron Paul</span>
        <span class="mdl-list__item-text-body">
          Aaron Paul played the role of Jesse in Breaking Bad. He also featured in
          the "Need For Speed" Movie.
        </span>
      </span>
      <span class="mdl-list__item-secondary-content"></span>
    </li>
  </ul>
  <div class="mdl-card__menu">
    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">share</i>
    </button>
  </div>
</div>